#include "include\version.h"
#include <winres.h>

1 VERSIONINFO
 FILEVERSION WLKN_VERSION_MAJOR, WLKN_VERSION_MINOR, WLKN_VERSION_PATCH, WLKN_VERSION_BETA
 PRODUCTVERSION WLKN_VERSION_MAJOR, WLKN_VERSION_MINOR, WLKN_VERSION_PATCH, WLKN_VERSION_BETA
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "ImWalkinHere"
			VALUE "FileVersion", WLKN_VERSION_VERSTRING
            VALUE "InternalName", "ImWalkinHere"
            VALUE "LegalCopyright", "MIT License"
            VALUE "ProductName", "ImWalkinHere"
			VALUE "ProductVersion", WLKN_VERSION_VERSTRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
